---
name: Integrate
on:
  push:
    branches: [ "**" ]
jobs:
  secrets:
    name: Secrets
    runs-on: ubuntu-latest
    steps:
      - name: Clone the repository
        uses: actions/checkout@v4
      - name: Run Trufflehog
        id: trufflehog
        uses: trufflesecurity/trufflehog@main
        continue-on-error: false
  qa:
    name: Quality Assurance
    runs-on: ubuntu-latest
    steps:
      - name: Clone the repository
        uses: actions/checkout@v4
      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.12
      - name: Install Python dependencies
        run: python -m pip install black
      - name: Check code formatting
        run: black --diff --color --check .
  sca:
    name: Software Composition Analysis
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: write
    steps:
      - uses: actions/checkout@v4
      - name: Generate an SBOM
        uses: anchore/sbom-action@v0
        with:
          path: .
          output-file: sbom.json
      - name: Check for CVEs
        uses: anchore/scan-action@v3
        with:
          sbom: sbom.json
          severity-cutoff: high
  sast:
    name: Static Application Security Testing
    runs-on: ubuntu-latest
    container:
      image: semgrep/semgrep
    steps:
      - name: Clone the repository
        uses: actions/checkout@v4
      - name: Perform a SAST scan
        run: semgrep scan --config auto
