name: Publish
on:
  release:
    types: [created]
jobs:
  pypi:
    name: Publish to PyPI
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/pySunshower
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.12
      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install setuptools wheel
      - name: Build the artifact
        run: |
          python -m build
      - name: Publish the artifact
        uses: pypa/gh-action-pypi-publish@release/v1
